<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="init" default-destroy-method="cleanup"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    annotation설정을 위한 선언-->
    <context:annotation-config />


    <context:component-scan base-package="com.nhnacademy.edu.springframework" />

    <!--    @Value(${...})를 쓰기위한 선언-->
    <context:property-placeholder location="classpath:MessageSende.properties" />

    <bean id="doorayMessageSender" class="com.nhnacademy.edu.springframework.sender.DoorayMessageSender">
        <qualifier type="com.nhnacademy.edu.springframework.annotation.MessageSenderQualifier">
            <attribute key="how" value="DOORAY"/>
        </qualifier>
    </bean>

    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.service.MessageSendService">
    </bean>
</beans>