<?xml version="1.0" encoding="UTF-8"?>
<beans default-init-method="init" default-destroy-method="cleanup"
        xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" />

    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.sender.SmsMessageSender">
        <qualifier type="com.nhnacademy.edu.springframework.annotation.MessageSenderQualifier">
            <attribute key="how" value="SMS"/>
            <attribute key="dummy" value="false"/>
        </qualifier>
    </bean>

    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.sender.EmailMessageSender"
    primary="true" >
        <qualifier type="com.nhnacademy.edu.springframework.annotation.MessageSenderQualifier">
            <attribute key="how" value="EMAIL"/>
            <attribute key="dummy" value="false"/>
        </qualifier>
    </bean>

    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.service.MessageSendService">
<!--        autowire="byType">-->
<!--        <constructor-arg ref="smsMessageSender" />-->
<!--        <property name="messageSender" ref="smsMessageSender" />-->
    </bean>
</beans>